@media(max-width: 800px){
    .logo{
        top: -18px;
    }
}
@media(max-width: 700px){
    .logo{
        top: -17px;
    }
}
@media(max-width: 400px){
    .footer-content h3f{
        font-size: 35px;
    }
    .footer-bottom pf{
        font-size: 12px;
    }
}
.nav-links.open{
    overflow-y: hidden;
}