@media(max-width: 900px){
    .logo{
        top: -26px;
    }
}
@media(max-width: 1024px){
    .logo{
        top: -25px;
    }
}
@media(max-width: 700px){
    .logo{
        top: -29px;
    }
}
@media(max-width: 400px){
    .footer-content h3f{
        font-size: 35px;
    }
    .footer-bottom pf{
        font-size: 12px;
    }
}
.nav-links.open{
    overflow: hidden;
}