.container_cards {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 10px;
    margin: 10px;
    transition: all 300ms;
    
}

.card:hover {
    width: 350px;
    height: 300px;
}

.card .cover {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}


.card .cover img {
    width: 250px;
    height: 300px;
    position: relative;
    z-index: 1;
    top: 40px;
    display: block;
    margin: auto;
    transition: all 400ms;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}

.card:hover .cover img {
    top: 0px;
}

.card .img_back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    transition: all 300ms;
}

.card:nth-of-type(1) .img_back {
    background-image: url(../img/fondo-tarjetas/fondo_tarjeta4.jpg);
}

.card:nth-of-type(2) .img_back {
    background-image: url(../img/fondo-tarjetas/fondo_tarjeta4.jpg);
}

.card:nth-of-type(3) .img_back {
    background-image: url(../img/fondo-tarjetas/fondo_tarjeta4.jpg);
}

.card:hover .img_back{
    bottom: -40px;
}

.card .description {
    background: #e0e5e7;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover {
    padding: 10px;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #b6c4ca;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover {
    background: #8a989e;
}

.card .description h2 {
    margin-top: 10px;
}

.card .description p {
    margin-top: 10px;
}

